body {
    height: 100%;
    padding-top: 50px;
}

html,
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

.front-card {
    height: 410px;
    width: 838px;
    margin: -200px 0 0 -530px;
    top: 50%;
    left: 50%;
    position: absolute;
}

.logo {
    color: #269abc;
}

.singUp {
    color: #0f0f0f;
    font-weight: bold;
}

.welcome {
    color: #fff;
}

.welcome p {
    font-size: 22px;
}
