body { 
    padding-top: 70px;
        background-color: #f9fafc;
}

.navbar {
    background-color: #FFF;
}

.navbar-brand {
    float: none;
}

.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
    vertical-align: middle;
}

.signUp {
    font-size: 11px;
}

.register {
    margin-top: 70px;
}

.signUpForm div div {
    padding: 5px;
}

.grad {
    background-image: linear-gradient(90deg, #00B7EB, #BCE27F);
    color: white;
}

.register-color{
    color: #FFF !important;
}

.logo {
    color: #269abc;
}

.modal-header{
    padding-top: 8px;
    padding-bottom: 8px;
}

.modal-title {
    color: #8899a6;
    font-size: 16px;
    text-align: center;
}

.modal-body,
.panel-default > .panel-heading {
    max-height:400px; 
    overflow-y: auto;
    background-color: #0084B4;
    background: rgba(0, 132, 180, .1);
}

.panel-default > .panel-heading {
    padding: 20px 20px 20px 20px;
}

.modal-dialog {
    margin-top: 100px;
}

hr {
    border-color: #e5e5e5;
}

h4#myNewMessageLabel.modal-title {
    text-align: left;
}

/*.nav-register {
    background-color: #FFF;
}*/

.link-username {
    color:#333;
}

.link:hover {
    cursor: pointer;
}

/*.user {
    background-color: #1DA1F2;
    background-size: 100%;
    border-bottom: 1px solid #e6ecf0;
    height: 95px;
    border-radius: 4px 4px 0 0;
    background-position: 0 50%;
    width: 100%;
    padding: 0 1px;
    margin-left: -1px;
    margin-top: -1px;
}

.dash {
    border: 1px solid #e6ecf0;
    background: #fff;
    border-radius: 6px;
}

.module {
    line-height: 16px;
    position: relative;
    margin-bottom: 10px;
}

.avatar-container {
    width: 72px;
}*/

.profile-background {
    height: 95px;
    background-color: #1DA1F2 !important;
}

/*.profile-card {
    height: 95px;
}*/

.fullname {
    font-size: 18px;
}

.profile-card-stats {
    font-size: 18px;
    padding-top: 3px;
    color: #1DA1F2;
}

.profile {
    position: relative;
}

.avatar {
    position: absolute;
    top: 70px;
    left: 20px;
    border-radius: 7px;
    height: 72px;
    width: 72px;
    border: 2px solid #fff;
    background-color: #1DA1F2; 
}

.icon {
    margin: 15px 0 0 18px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.33);
    color: #fff;  
    background: transparent;
    font-size: 32px;
    line-height: 1;
}